
@import 'base/variables';

@import 'blocks/menu';
@import 'blocks/forms';
@import 'blocks/register';
@import 'blocks/advantages';
@import 'blocks/cards';
@import 'blocks/learning';
@import 'blocks/creator';
@import 'blocks/notify';


* {
    font-family: SourceSansPro, sans-serif;
}

body {
    margin: 0;
}

html {
    // no cursor proper svg provided, can't implement
}

.container {
    width: 60%;
    margin: 0 auto;
}

