
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

@import 'blocks/menu';
@import 'blocks/forms';
@import 'blocks/register';
@import 'blocks/advantages';
@import 'blocks/cards';
@import 'blocks/learning';
@import 'blocks/creator';
@import 'blocks/notify';


* {
    font-family: SourceSansPro, sans-serif;
}

body {
    margin: 0;
}

html {
    // no cursor proper svg provided, can't implement
}

.container {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}