.learning {
    min-height: 1730px;
    .learnbg {
        clip-path: polygon(0 27%, 100% 9%, 100% 92%, 0 76%);
        background-color: $main-color;
        width: 100%;
        height: 170vh;
        position: absolute;
        z-index: -1;
        margin-top: 370px;
    }
    &__supheader {
        font-size: 16px;
        color: #51526a;
        margin-top: 64px;
        text-transform: uppercase;
    }
    &__header {
        width: 679px;
        font-size: 47px;
        margin-top: 5px;
        margin-bottom: 35px;
        color: $main-color;
    }
    &__text {
        display: flex;
        justify-content: center;
        width: 712px;
        margin-top: 35px;
        margin-bottom: 66px;
        &__pointer {
            background: url('../img/pointer_learning.png') center center/cover no-repeat;
            width: 86px;
            height: 72px;
            margin-right: 24px;
        }
        &__descr {
            font-size: 22px;
            color: #51526a;
            padding-top: 30px;
            width: 608px;
        }
    }
    &__slider {
        &-card {
            width: 380px;
            height: 400px;
            border-radius: 24px;
            position: absolute;
            transition: .4s all ease;
            &:hover {
                transform: scale(1.1);
            }
            &-number {
                font-size: 64px;
                margin-top: 20px;
                margin-left: 34px;
                position: absolute;
            }
            &-header {
                font-size: 42px;
                writing-mode: vertical-rl;
                margin-left: 300px;
                margin-top: 0px;
                text-align: right;
                margin-top: 10px;
                height: 344px;
            }
        }
        &-card#design { 
            @include design-card($x: 0, $y: 0);
        }
        &-card#practical {  
            @include practical-card($x: 1, $y: 1);
        }
        &-card#responsive { 
            @include responsive-card($x: 2, $y: 2);
        }
        &-card#handoff { 
            @include handoff-card($x: 3, $y: 3);
        }
        &-card#prototyping { 
            @include prototyping-card($x: 4, $y: 4);
        }
        &-card#workflow { 
            @include workflow-card($x: 5, $y: 5);
        }
        
    }
    &__quote {
        height: 636px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin-top: 660px;
        text-align: center;
        &-sign {
            font-size: 80px;
        }
        &-text {
            font-size: 48px;
            padding-bottom: 28px;
        }
        &-author {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-photo {
                width: 52px;
                height: 42px;
                background: url('../img/author.png') center center/cover no-repeat;
            }
        }
    }
}

@media( max-width: 1400px) {
    .learning {
        .learnbg {
            height: 140vh;
        }
        &__slider {
            &-card#design { 
                @include design-card($x: 1.5, $y: 0);
            }
            &-card#practical {  
                @include practical-card($x: 2.5, $y: 1);
            }
            &-card#responsive { 
                @include responsive-card($x: 3.5, $y: 2);
            }

            &-card#handoff { 
                @include handoff-card($x: 1.5, $y: 16);
            }
            &-card#prototyping { 
                @include prototyping-card($x: 2.5, $y: 17);
            }
            &-card#workflow {
                @include workflow-card($x: 3.5, $y: 18);
            }
        }
        &__quote {
            margin-top: 1000px;
        }
    }
}

@media( max-width: 1200px) {
    .learning {
        .learnbg {
            height: 170vh;
        }
        &__slider {
            &-card#design { 
                @include design-card($x: 0.75, $y: 0);
            }
            &-card#practical {  
                @include practical-card($x: 1.75, $y: 1);
            }
            &-card#responsive { 
                @include responsive-card($x: 2.75, $y: 2);
            }

            &-card#handoff { 
                @include handoff-card($x: 0.75, $y: 16);
            }
            &-card#prototyping { 
                @include prototyping-card($x: 1.75, $y: 17);
            }
            &-card#workflow {
                @include workflow-card($x: 2.75, $y: 18);
            }
        }
    }
}

@media( max-width: 992px ) {
    .learning {
        .learnbg {
            height: 220vh;
        }
        &__slider {
            &-card#design { 
                @include design-card($x: 0.25, $y: 0);
            }
            &-card#practical {  
                @include practical-card($x: 1.25, $y: 1);
            }
            &-card#responsive { 
                @include responsive-card($x: 2.25, $y: 2);
            }
    
            &-card#handoff { 
                @include handoff-card($x: 0.25, $y: 16);
            }
            &-card#prototyping { 
                @include prototyping-card($x: 1.25, $y: 17);
            }
            &-card#workflow {
                @include workflow-card($x: 2.25, $y: 18);
            }
        }
    }
}

@media( max-width: 768px ) {
    .learning {
        &__text {
            width: 100%;
            &__descr {
                font-size: 28px;
            }
        }
        &__slider {
            &-card#design { 
                @include design-card($x: 0.8, $y: 0);
                z-index: 1;
            }
            &-card#practical {  
                @include practical-card($x: 0.8, $y: 3);
                z-index: 2;
            }
            &-card#responsive { 
                @include responsive-card($x: 0.8, $y: 6);
                z-index: 3;
            }
    
            &-card#handoff { 
                @include handoff-card($x: 0.8, $y: 9);
                z-index: 4;
            }
            &-card#prototyping { 
                @include prototyping-card($x: 0.8, $y: 12);
                z-index: 5;
            }
            &-card#workflow {
                @include workflow-card($x: 0.8, $y: 15);
                z-index: 6;
            }
        }
    }
}