.learning {
    min-height: 1730px;
    .learnbg {
        clip-path: polygon(0 27%, 100% 9%, 100% 92%, 0 76%);
        background-color: $main-color;
        width: 100%;
        height: 170vh;
        position: absolute;
        z-index: -1;
        margin-top: 370px;
    }
    &__supheader {
        font-size: 16px;
        color: #51526a;
        margin-top: 64px;
        text-transform: uppercase;
    }
    &__header {
        width: 679px;
        font-size: 47px;
        margin-top: 5px;
        margin-bottom: 35px;
        color: $main-color;
    }
    &__text {
        display: flex;
        justify-content: center;
        width: 712px;
        margin-top: 35px;
        margin-bottom: 66px;
        &__pointer {
            background: url('../img/pointer_learning.png') center center/cover no-repeat;
            width: 86px;
            height: 72px;
            margin-right: 24px;
        }
        &__descr {
            font-size: 22px;
            color: #51526a;
            padding-top: 30px;
            width: 608px;
        }
    }
    &__slider {
        &-card {
            width: 380px;
            height: 400px;
            border-radius: 24px;
            position: absolute;
            transition: .4s all ease;
            &:hover {
                transform: scale(1.1);
            }
            &-number {
                font-size: 64px;
                margin-top: 20px;
                margin-left: 34px;
                position: absolute;
            }
            &-header {
                font-size: 42px;
                writing-mode: vertical-rl;
                margin-left: 300px;
                margin-top: 0px;
                text-align: right;
                margin-top: 10px;
                height: 344px;
            }
        }
        &-card#design { box-shadow: 6px 6px 0 0 #7c1d19; border: solid 2px #7c1d19; background-color: #f4a59f;z-index: 6; margin-left: 0; margin-top: 0; color: #7c1d19;}
        &-card#practical {  box-shadow: 6px 6px 0 0 #6c1a45; border: solid 2px #6c1a45; background-color: #e284a0; z-index: 5; margin-left: 154px; margin-top: 32px; color: #6c1a45;}
        &-card#responsive { box-shadow: 6px 6px 0 0 #945219; border: solid 2px #7c1d19; background-color: #f2ba89; z-index: 4; margin-left: 308px; margin-top: 64px; color: #945219;}
        &-card#handoff { box-shadow: 6px 6px 0 0 #465b43; border: solid 2px #465b43; background-color: #cdeec8; z-index: 3; margin-left: 462px; margin-top: 96px; color: #465b43;}
        &-card#prototyping { box-shadow: 6px 6px 0 0 #3c2b84; border: solid 2px #3c2b84; background-color: #bbbffb; z-index: 2; margin-left: 616px; margin-top: 128px; color: #3c2b84;}
        &-card#workflow { box-shadow: 6px 6px 0 0 #090b37; border: solid 2px #090b37; background-color: #e8e9f1; z-index: 1; margin-left: 770px; margin-top: 160px; color: #090b37;}
        
    }
    &__quote {
        height: 636px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        margin-top: 660px;
        text-align: center;
        &-sign {
            font-size: 80px;
        }
        &-text {
            font-size: 48px;
            padding-bottom: 28px;
        }
        &-author {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-photo {
                width: 52px;
                height: 42px;
                background: url('../img/author.png') center center/cover no-repeat;
            }
        }
    }
}