.register {
    .promo {
        margin-top: 144px;
        width: 100%;  
        height: 900px;
        background-image: linear-gradient(to bottom, #c1c8fb, #9e98f8);
        border: solid 4px #090b37;
        box-shadow: 6px 6px #090b37;
        &-circle {
            position: absolute;
            width: 78px;
            height: 82px;
            border: solid 3px #090b37;
            top: 205px;
            left: 70%;
            border-radius: 50%;
        }
        &-upper1 {
            height: 51px;
            border-bottom: solid 3px #090b37;
            display: flex;
            justify-content: start;
            align-items: center;
            &-bullet {
                width: 14px;
                height: 16px;
                border-radius: 50%;
                border: solid 3px #090b37;
                margin-right: 7px;
                &:first-of-type {
                    margin-left: 21px;
                }
            }
        }
        &-upper2 {
            height: 48px;
            border-bottom: solid 3px #090b37;
            &-upperblock {
                display: flex;
                &-first {
                    width: 81px;
                    min-height: 48px;
                    border-right: solid 3px #090b37;
                }
                &-second {
                    display: flex;
                    align-items: center;
                    width: 90%;
                    &-divider {
                        height: 3px;
                        background-color: #090b37;
                        width: 64px;
                        margin-right: 32px;
                        &:first-of-type {
                            margin-left: 563px;
                        }
                    }
                }
            }
        }
        .lower {
            display: flex;
            .promo-lower1 {
                width: 81px;
                height: 793px;
                border-right: solid 3px #090b37;
            }
            .promo-block {
                width: 95%;
                &-main {
                    height: 705px;
                    border-bottom: solid 3px #090b37;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    &-header {
                        font-size: 64px;
                        color: #090b37;
                        text-align: center;
                        width: 717px; 
                    }
                    &-subheader{
                        font-size: 22px;
                        margin-top: 28px;
                        color: #3c2b84;
                        width: 655px;
                        text-align: center;
                        margin-bottom: 34px;
                    }
                }
                &-lower2 {
                    width: 76px;
                    height: 5px;
                    background-color: #090b37;
                    transform: skewY(50deg);
                    margin-top: 41px;
                    margin-left: 80%;
                }
            }
        }
        &-notifications {
            display: flex;
            justify-content: center;
            &-pointer {
                width: 130px;
                height: 49px;
                margin-top: 3px;
                transition: 1s all;
            }
            &-pointer.inactive {
                background: url('../img/pointer_register.png') center center/cover no-repeat;
            }
            &-pointer.active {
                background: url('../img/pointer_register_active.png') center center/cover no-repeat;
            }
            &-text {
                color: #3c2b84;
                text-align: center;
                padding-top: 32px;
                font-size: 18px;
                transition: 1s all;
                &:hover {
                    font-size: 22px;
                    cursor: pointer;
                }
            }
        }
    }
}


